#content a img
{
    border:none;
    margin:0;
}

#content col
{
    width:15em;
}

#content col.icon
{
    width:60px;
}

#content td
{
    vertical-align:middle;
}

#content td a
{
    font-size:1.2em;
}

#content tr td, #content table, #content tr
{
    border: none;
}