@import url(suckerfish.css);

*
{
    margin:0;
    padding:0;
}

body
{
    padding:1em;
    font-size:100%;
    font-family: verdana, arial, helvetica, serif;
    color: black;
    background-color:white;
}

#page
{
    position:relative;
    margin:auto;
    max-width:65em;
    min-width:40em;
    font-size:0.8em;
}

#header
{
    font-size:1em;
    background-image: url(../images/header.png);
    background-repeat:repeat-y;
    height:104px;
    overflow:hidden;
}

#header h1
{
    position:relative;
    top:10px;
    left:5px;
    padding:0.25em;
    color:yellow;
    z-index:102;
}

#header img
{
    position:relative;
    left:7px;
    float:left;
    z-index:101;
}

#footer
{
    clear:both;
    font-size:1em;
    background-image: url(../images/header.png);
    background-repeat:repeat-y;
    color:yellow;
    text-align:center;
    height:51px;
    overflow:hidden;
}

#footer #awards
{
    float:right;
}

#footer #w3c
{
    float:left;
    position:relative;
    left:3px;
    top:18px;
}

#footer #w3c img
{
    border:none;
}

#footer p
{
    position:relative;
    top:25%;
}

#footer a
{
    color:yellow;
}

	
#content
{
    font-size:1em;
    padding:2em 2em 2em 14em;
    min-height:20em;
}

* html #content.short
{
    height:22em;
}

#content h1
{
    font-size:1.5em;
    margin-bottom:1em;
}

#content h2
{
    font-size:1.3em;
    margin-bottom:0.75em;
}

#content h3
{
    font-size:1.1em;
    margin-bottom:0.5em;
}

#content dt
{
    font-weight:bold;
}

#content dd
{
    margin:0.25em 0em 0.5em 6em;
}

#content p,#content dl
{
    margin: 1em;
}

#content img
{
    margin: 20px;
}

#content img.float-right
{
    float:right;
}

#content img.float-left
{
    float:left;
}

#content blockquote
{
    margin:0.25em 3em;
}

#content ul, #content ol
{
    margin:1em;
    margin-left:3em;
}

#content li ul, #content li ol
{
    margin:0 0 0 1.5em;
}


#content p.newsletter-inav
{
    text-align:right;
}

#content address
{
    font-style:normal;
    margin: 1em 3em;
}

div.urgent-notice
{
    background-color:#FFE0E0;
    padding:1em;
    margin: 1em;
}

#content div.urgent-notice h2
{
    text-decoration:underline;
    color:red;
    font-size:1.2em;
}

#content table
{
    border: solid black 2px;
    border-collapse:collapse;
    margin: 1em 2em 2em 2em;
}


#content table td, #content table th
{
    border: solid black 1px;
    padding: 0.5em 1em;
}

#content th
{
    background-color:#E0E0FF;
    border-right:solid black 2px;
}

#content th
{
    width:7em;
}

#content thead th
{
    width:auto;
}

* html #content td, * html #content th
{
    font-size:0.8em;
}

div.clear
{
    clear:both;
}

#ChangeDetection {border:blue 1px solid; padding:1em;margin:1em;}
#ChangeDetection div {text-align:center;}

#school-map #content
{
    margin:0em;
    padding:0em;
    text-align:center;
    clear:both;
}

#school-map #content img
{
    position:relative;
    margin: 2em 0em;
    z-index:101;
}

#school-map #navigation
{
    z-index:102;
}

#content div.policy-dates
{
    border: 1px gray solid;
    width:17em;
    color:gray;
    margin:0 0 0 auto;
}

#content div.policy-dates ul
{
    list-style:none;
    margin:0 2em;
}

@media print { #content { font-size: 11pt; font-family: times new roman, serif; }

  #content td /*td doesn't always pick up cascaded font characteristics*/
  {
    font-family: times new roman, serif;
    font-size:11pt;
    }

  #content
  {
      padding-left:0em;
  }
 
  #navigation, #header, #footer
  { 
    display: none;
  }
}