#navigation
{
    position:absolute;
    top:104px;/*matches header height*/
    left:0;
    margin-top:2em;/*matches header bottom margin*/
    width:11em;
    font-size:1em;
}

#navigation ul
{
    list-style: none;
}

#navigation li
{
    position:relative;
    float:left; /*fix for IE6 bug*/
    z-index:1;
    line-height:1.75em;
    margin-bottom:-1px;
}

#navigation a.node
{
    background:white url(../images/node.gif) center right no-repeat;
}

#navigation li ul { 
    position : absolute;
    top: 0px;
    left: 10em;
    display:none;
}


#navigation a {
    width: 10em;
    display : block;
    color : black;
    font-weight : bold;
    text-decoration : none;
    background-color : white;
    border : 1px solid black;
    padding : 0 0.5em;
}

* html #navigation a /*workaround for IE6 Box model bug*/
{
    width:11em;
}


#navigation li:hover, #navigation li.sfhover
{
    min-height:0;/*fix for IE7 hover bug*/
    z-index:2;
}

#navigation li a:hover {
    color : white;
    background-color : black;
}


#navigation li:hover ul, #navigation li:hover li:hover ul, 
#navigation li.sfhover ul, #navigation li.sfhover li.sfhover ul
{
    display:block;
}

#navigation li:hover ul ul, #navigation li.sfhover ul ul
{
    display:none;
}

#navigation li a.current
{
    background-color:#E0F0FF;
    color:black;
}
