#navigation
{
    font-size:0.8em;
    width:11em;
    float:left;
    margin-bottom:2em;
}

#navigation #skipnav
{
    display:none;
}

#navigation ul
{
    list-style: none;
}

#navigation li
{
    position:relative;
    z-index:1;
    line-height:1.75em;
    margin-bottom:-1px;
}

#navigation li ul { 
    position : absolute;
    top: 0px;
    left: 10em;
    display:none;
/*    margin-left : 10em;*/
/*    margin-top : -1.9em;*/
}

#navigation a {
    width: 10em;
    display : block;
    color : black;
    font-weight : bold;
    text-decoration : none;
    background-color : white;
    border : 1px solid black;
    padding : 0 0.5em;
}

* html #navigation a /*workaround for IE6 Box model bug*/
{
    width:11em;
}


#navigation li:hover, #navigation li.sfhover
{
    z-index:2;
}

#navigation li a:hover {
    color : white;
    background-color : black;
}


#navigation li:hover ul, #navigation li.sfhover ul 
{
    display:block;
}

#navigation li a.current
{
    background-color:#E0F0FF;
    color:black;
}
